


<div style="width: 50%; margin: 20px;">
  <h3>Alta de Contacto</h3>


<form class="example-form" (ngSubmit)="onSubmit()">
   <div class="form-group">
    <label for="exampleFormControlInput1">Nombre</label>
    <input type="text" class="form-control" placeholder="" [(ngModel)]="nuevoContacto.nombre" name="nombre">
  </div>

   <div class="form-group">
    <label for="exampleFormControlInput1">Apellido</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="" [(ngModel)]="nuevoContacto.apellido" name="apellido">
  </div>

   <div class="form-group">
    <label for="exampleFormControlInput1">Teléfono</label>
    <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="" [(ngModel)]="nuevoContacto.telefono" name="tel">
  </div>


   <div class="form-group">
    <label for="exampleFormControlInput1">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" [(ngModel)]="nuevoContacto.correo" name="correo">
  </div>

  <button class="btn btn-success" type="submit" value="Enviar">Guardar</button>

</form>

</div>
